.equation {
    position: absolute;
    padding: 10px;
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%);
    background-color: white;
    height: 50px;
    display: flex;
    width: 400px;
    align-items: center;
    border-radius: 5px;
    justify-content: space-between;
    cursor: pointer;
}

.equation input {
    background: none;
    border: none;
    flex: 1;
    height: 100%;
    outline: none;
    left: 30px;
    position: absolute;
}

#myChart {
    position: absolute;
    padding: 10px;
    top: 10%;
    left: 15%;
    background-color: white;
    height: min(60vh, 60vw);
    display: flex;
    width: min(60vh, 60vw);
    align-items: center;
    border-radius: 5px;
    justify-content: space-between;
    cursor: pointer;
}

#text {
    position: absolute;
    top: 275px;
    font-size: 20px;
    right: 250px;
    font-family: Roboto;
}
